* {
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
}

body {
    width: 1000px;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: green;
}

footer {
    font-size: 20px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

h2, p, ul, ol {
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    margin: 20px;
}